<div class="space-card-container">
  <h1>Welcome to your dashboard <%= @user.email %></h1>
  <div class="dashboard-card">
    <div class="space-card-content">
      <% if @my_bookings.blank? %>
        <p>You still don't have any booking.
        <%= link_to "Search for a nice place", spaces_path %></p>
      <% else %>
        <h2>Bookings I made:</h2>
        <% @my_bookings.each do |booking| %>
          <p><%= booking.space.name %> at <strong><%= booking.date %></strong></p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="space-card-container">
  <% if @spaces.blank? %>
    <p></p>
  <% else %>
    <h1>The list of your spaces</h1>
    <% @spaces.each do |space| %>
      <div class="dashboard-card">
        <!-- <div class="space-card-owner-image"><%= cl_image_path space.photo %>
        </div> -->
        <div class="space-card-content">
          <%= link_to space.name, space_path(space), class: "btn btn-primary" %>
          <%= link_to "Edit my space", edit_space_path(space.id), class: "btn btn-primary" %>
            <% if space.bookings.blank? %>
              <h5>No bookings yet</h5>
            <% else %>
              <h5>Bookings for this space:</h5>
            <% end %>
            <ul>
              <% space.bookings.each do |booking| %>
                <li>Booked for <strong><%= l(booking.date, format: :long) %></strong> by <%= booking.user.email %> --
                  <% if booking.pending? %>
                    <span class="text-primary">Pending: </span><i class="far fa-question-circle text-primary"></i>&nbsp;&nbsp;&nbsp;
                  <% elsif booking.approved? %>
                    <span class="text-success">Approved: </span><i class="far fa-check-circle text-success"></i>&nbsp;&nbsp;&nbsp;
                  <% elsif booking.declined? %>
                    <span class="text-danger">Declined:&nbsp;&nbsp;&nbsp;</span><i class="far fa-ban text-danger"></i>&nbsp;&nbsp;&nbsp;
                   <% end %>

                <%= link_to "Approve", booking_path(booking, status: "approved"), class: "btn btn-sm btn-success", method: :patch %> -
                <%= link_to "Decline", booking_path(booking, status: "declined"), class: "btn btn-sm btn-danger", method: :patch  %>
                </li>
              <% end %>
            </ul>
    <% end %>
      </div>
    </div>
  <% end %>
</div>
