<div class="background-edit-space-page">
  <div class="space-form-container">
    <div class="form-box">
      <h1 class="title-new-page">Edit Your Event Space</h1>
      <%= simple_form_for(@space) do |f| %>
        <%= f.input :name, label: "Name: " %>
        <%= f.input :address, label: "Address:" %>
        <%= f.input :capacity, label: "Capacity:" %>
        <%= f.input :price, label: "Price:" %>
        <%= f.input :description, label: "Description" %>
        <%= f.input :photo, label: "Photo" %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.submit "Edit Space", class: "btn btn-primary btn-lg btn-block" %>
      <% end %>
    </div>
  </div>
</div>
