<div class="space-card-container">
  <div class="row filter-bar">
    <div class="col-xs-12">
      <div class="form-inline">
        <%= simple_form_for(spaces_path, method: :get) do %>
          <%= text_field_tag :address, params[:address], placeholder: "Choose a city", class: "form-control form-fields" %>
          <%= text_field_tag :price, params[:price], placeholder: "Max Price", class: "form-control form-fields" %>
          <%= text_field_tag :capacity, params[:capacity], placeholder: "Min Capacity", class: "form-control form-fields" %>
          <%= submit_tag 'Search', class: "btn btn-primary form-control form-fields" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>Choose venue for your next event</h1>
    </div>
  </div>
  <div class="row">
    <% @spaces.each do |space| %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="space-card">

          <div class="space-card-image" style="background-image: url(<%= space.photo %>);">
          </div>
          <div class="space-card-content">
            <h4><%= space.name.upcase[0..30] %>&hellip;</h4>
            <h2><%= space.address[0..50] %>&hellip;</h2>
            <div class="space-card-price">&euro; <%= space.price.to_i %> per day &#8226; Free cancellation</div>
            <p><i class="far fa-envelope"></i> owner: <%= space.user.email %></p>
            <!-- <%= link_to "view details >" , space_path(space), class: "btn btn-info" %> -->
            <!-- # <%= link_to "Delete " , space_path(space), method: :delete %> -->
          </div>

          <%= link_to "view details >", space_path(space), class: "space-card-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
