<h1>Spaces#show</h1>

<h1><%= @space.name %></h1>
<p><%= @space.photo %></p>
<p><%= @space.address %></p>
<p><%= @space.capacity %></p>
<p><%= @space.price %></p>
<p><%= @space.description %></p>





<%= link_to "Edit space" , space_path %>


