
<div class="card details-card form-box-show-space" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= @space.photo %>);">
  <div class="card-description description-show-card">
    <div class="placement-description">
      <h2><%= @space.name %></h2>
      <p><%= @space.description %></p>
    </div>
<!--     <div class="placement-details">
 -->    <p>Adress: <%= @space.address %></p>
    <p>Capacity: <%= @space.capacity %> people</p>
    <p>Price: <%= @space.price.to_i %> &euro; </%> for 24 hours</p>
    <%= link_to "Edit my space" , edit_space_path, class: "btn btn-primary" %>
    </<!-- div -->>
  </div>
</div>



