<div class="banner banner-space-img" style="background-image: url('<%= @space.photo %>');">
  <div class="banner-lower-left">
    <% if current_user %>
      <% if @space.user_id == current_user.id %>
        <%= link_to "Edit my space", edit_space_path, class: "btn btn-lg" %>
      <% elsif @space.user_id != current_user.id %>
        <button type="button" class="btn btn-lg btn-danger" data-toggle="modal" data-target="#bookModal">Book This Place</button>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div>
        <h1><%= @space.name %></h1>
        <p><%= @space.address %></p>
        <p><i class="fas fa-users"></i> <%= @space.capacity %> people</p>
        <h3><i class="fas fa-euro-sign"></i> <%= @space.price.to_i %> for 24 hours</h3>
        <p><%= @space.description %></p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 text-center">
      <div> <!-- Bookings -->
        <% if @userbookings != [] %>
          <h2>Your bookings</h2>
          <% @userbookings.each do |b| %>
            <h3>
              <% if b.status == nil %>
                You have no bookings yet
              <% elsif b.status == 2 %>
                <span class="text-success">Approved </span><i class="far fa-smile text-success"></i> <%= b.date %>
              <% elsif b.status == 1 %>
                <span class="text-primary">Pending </span><i class="far fa-meh text-primary"></i> <%= b.date %>
              <% else %>
                <span class="text-danger">Declined </span><i class="far fa-frown text-danger"></i> <%= b.date %>
              <% end %>
            </h3>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="bookModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Book</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for([@space, @booking]) do |b| %>
          <%= b.input :date, label: "Date: " %>
          <%= b.hidden_field :status %>
          <%= b.hidden_field :user_id %>
          <%= b.hidden_field :space_id %>
          <%= b.submit "Book", class: "btn btn-primary btn-new-space" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
