<div class=" background-new-space-page">

  <h1 class="title-new-page">Edit your Spaces</h1>

  <div class="form-box">
      <%= simple_form_for(@space) do |f| %>
        <%= f.input :name, label: "Name: " %>
        <%= f.input :address, label: "Address:" %>
        <%= f.input :capacity, label: "Capacity:" %>
        <%= f.input :price, label: "Price:" %>
        <%= f.input :description, label: "Description" %>
        <%= f.input :photo, label: "Photo" %>
        <%= f.submit "Add Space", class: "btn btn-primary btn-new-space" %>
      <% end %>
  </div>

</div>
